body{
    background-color: rgba(248, 180, 8, 0.644);
    margin: 0 auto;
    text-align: center;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: cornsilk;
    font-weight: bold;
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: cornsilk;
    font-weight: bold;
}
h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    color: cornsilk; /*cor da fonte*/
    font-weight: bold; /*Colocar em negrito*/
}

p{
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    color:black;
    text-align: center;
}

table{
    margin: auto;
    text-align: center;
    max-width: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}
footer{
    margin:auto;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-decoration: solid;
    color: black;
}

.rodape{
    margin:0 auto;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-decoration: solid;
    color:black;
}

.rodape img {
    padding-top: 50px;
    padding-bottom: 30px;
    width: 50px;
    height: 50px;
}
